
<%=render "indexstyle"%>
 <%= link_to '<button type="button">Create New Wholesaler</button>'.html_safe, new_wholesaler_path %>
<h1>Wholesalers</h1>
<div class="container-index">
<% @wholesalers.each do |wholesaler|%>
 <div class="wholesale"><img src= "https://images.getbento.com/accounts/a3e72eb05f5158bbaa07dab02b2d4748/media/images/60195Photo_Apr_25_8_30_36_PM.jpg?fit=max&w=1800&auto=format,compress">
 <%= link_to wholesaler.name, wholesaler_path(wholesaler.id)%></div>
<%end%> </div>